<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.backend.mapper.admin.AccountMapper">
    <resultMap id="getAccountInfoMap" type="com.x.backend.pojo.entity.Account">
        <result property="aId" column="a_id"/>
        <result property="role" column="role"/>
    </resultMap>
    <select id="login" resultMap="getAccountInfoMap">
        select a_id,role
        from account
        where
            username = #{username} or email = #{username}
        and password = #{password}
    </select>
</mapper>