<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.backend.mapper.user.BookMapper">

    <select id="selectTop250BookInfo" resultType="com.x.backend.pojo.common.Book">
        select *
        from book
        where rating > 6
        order by (rating + users / 102400) DESC
        LIMIT #{offset}, #{size}
    </select>
    <select id="selectTop50BookInfo" resultType="com.x.backend.pojo.common.Book">
        select *
        from book
        where rating > 6
          and users > 10000
        order by rating DESC
        LIMIT #{offset}, #{size}
    </select>
    <select id="selectTopWelcomeBookInfo" resultType="com.x.backend.pojo.common.Book">
        select *
        from book
        where rating > 6
        order by users DESC
        LIMIT #{offset}, #{size}
    </select>
    <select id="selectTopHotBookInfo" resultType="com.x.backend.pojo.common.Book">
        SELECT *
        FROM book
        WHERE rating > 6
          AND introduction IS NOT NULL
          AND introduction != ''
        ORDER BY (0.7 * rating + 0.3 * users / 102400) DESC
        LIMIT #{offset}, #{size}
    </select>
    <select id="selectBookDetail" resultType="com.x.backend.pojo.common.Book">
        select *
        from book
        where id = #{id}
    </select>
</mapper>