<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.backend.mapper.user.MovieMapper">

    <select id="selectAllMoves" resultType="com.x.backend.pojo.common.Movie">
        SELECT * FROM movie
        ORDER BY rating DESC
        LIMIT #{start}, #{size}
    </select>

</mapper>