<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.backend.mapper.admin.BookMapper">

    <!-- insertBook -->
    <insert id="insertBook">
        insert into book(name, author, description, rating, users, img, introduction)
        values (#{name}, #{author}, #{description}, #{rating}, #{users}, #{img}, #{introduction})
    </insert>

    <!--  给书籍评分  -->
    <insert id="insertScore">
        insert into book_score (b_id, a_id, score)
        values (#{bId}, #{aId}, #{score})
    </insert>
    <insert id="batchInsertScore">
        INSERT INTO book_score (b_id, a_id, score) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.bId}, #{item.aId}, #{item.score})
        </foreach>
    </insert>

    <update id="updateBookRatingAndUsers">
        UPDATE book
        SET rating = ROUND((rating * users + #{rating} * #{users}) / (users + #{users}), 1),
            users  = users + #{users}
        WHERE id = #{bId};
    </update>
    <update id="updateBookUsers">
        UPDATE book
        SET users = users - 1
        WHERE id = #{bId};
    </update>
    <delete id="deleteBookScore">
        DELETE
        FROM book_score
        WHERE b_id = #{bId}
          and a_id = #{aId};
    </delete>
</mapper>