<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.backend.mapper.admin.CountMapper">

        <!-- insertAllCount -->

        <insert id="insertAllCount">
      insert into all_count(count,date) values(#{count},#{date})
        </insert>

        <!-- insertSongCount -->

        <insert id="insertSongCount">
          insert into song_count(count,date) values(#{count},#{date})
        </insert>

        <!-- insertBookCount -->

        <insert id="insertBookCount">
          insert into book_count(count,date) values(#{count},#{date})
        </insert>

        <!-- insertMovieCount -->

        <insert id="insertMovieCount">
          insert into movie_count(count,date) values(#{count},#{date})
        </insert>

        <!-- getAllCounts -->

        <!-- insertOtherCount -->

        <insert id="insertOtherCount">
          insert into other_count(count,date) values(#{count},#{date})
        </insert>

        <!-- insertAiCount -->

        <insert id="insertAiCount">
          insert into ai_count(count,date) values(#{count},#{date})
        </insert>

        <!-- addInsertSongCount -->

        <insert id="addInsertSongCount">
        insert into song_insert_count(count,date) values(#{count},#{date})
        </insert>

        <!-- addUpdateSongCount -->

        <insert id="addUpdateSongCount">
        insert into song_update_count(count,date) values(#{count},#{date})
        </insert>

        <!-- addDeleteSongCount -->

        <insert id="addDeleteSongCount">
        insert into song_delete_count(count,date) values(#{count},#{date})
        </insert>

        <!-- getSongTypeCounts -->

        <select id="getSongTypeCounts">
     SELECT tag AS type, COUNT(*) AS count
     FROM song,
     JSON_TABLE(tags, '$[*]' COLUMNS(tag VARCHAR(255) PATH '$')) AS jt
     GROUP BY tag;
        </select>

        <!-- addInsertBookCount -->

        <insert id="addInsertBookCount">
      insert into book_insert_count(count,date) values(#{count},#{date})
        </insert>

        <!-- addUpdateBookCount -->

        <insert id="addUpdateBookCount">
      insert into book_update_count(count,date) values(#{count},#{date})
        </insert>


        <!-- addDeleteBookCount -->

        <insert id="addDeleteBookCount">
      insert into book_delete_count(count,date) values(#{count},#{date})
        </insert>

        <!-- getBookTypeCounts -->

        <select id="getBookTypeCounts">
       SELECT jt.type AS type, COUNT(*) AS count
       FROM book,
       JSON_TABLE(book.type, '$[*]' COLUMNS(type VARCHAR(255) PATH '$')) AS jt
       GROUP BY jt.type;
        </select>

        <!-- getGamesTypeCounts -->

        <select id="getGamesTypeCounts">
          SELECT jt.type AS type, COUNT(*) AS count
          FROM games,
          JSON_TABLE(games.game_categories, '$[*]' COLUMNS(type VARCHAR(255) PATH '$')) AS jt
          GROUP BY jt.type;
        </select>

</mapper>