<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.backend.mapper.admin.GameMapper">

    <insert id="insertGame">
        INSERT INTO games (game_name, game_score, game_developer, release_date, game_description, game_categories,
                           game_platforms, game_image_url)
        VALUES (#{gameName}, #{gameScore}, #{gameDeveloper}, #{releaseDate}, #{gameDescription}, #{gameCategories},
                #{gamePlatforms}, #{gameImageUrl})
    </insert>

    <update id="updateGame">
        UPDATE games
        SET game_name        = #{gameName},
            game_score       = #{gameScore},
            game_developer   = #{gameDeveloper},
            release_date     = #{releaseDate},
            game_description = #{gameDescription},
            game_categories  = #{gameCategories},
            game_platforms   = #{gamePlatforms},
            game_image_url   = #{gameImageUrl}
        WHERE id = #{id}
    </update>
    <delete id="deleteGameInfo">
        DELETE
        from games
        WHERE id = #{gameId}
    </delete>


    <resultMap id="Game" type="com.x.backend.pojo.common.Game">
        <id property="id" column="id"/>
        <result property="gameName" column="game_name"/>
        <result property="gameScore" column="game_score"/>
        <result property="gameDeveloper" column="game_developer"/>
        <result property="releaseDate" column="release_date" jdbcType="DATE"/>
        <result property="gameDescription" column="game_description"/>
        <result property="gameCategories" column="game_categories" jdbcType="VARCHAR"/>
        <result property="gamePlatforms" column="game_platforms" jdbcType="VARCHAR"/>
        <result property="gameImageUrl" column="game_image_url"/>
        <result property="gameUsers" column="game_users" jdbcType="INTEGER"/>
    </resultMap>


    <select id="getGameInfoById" resultMap="Game">
        SELECT *
        FROM games
        WHERE id = #{gameId}
    </select>

    <select id="getGameInfoBySearch" resultMap="Game">
        SELECT *
        FROM games
        WHERE game_name LIKE CONCAT('%', #{searchText}, '%')
           OR game_developer LIKE CONCAT('%', #{searchText}, '%')
           OR game_description LIKE CONCAT('%', #{searchText}, '%')
           OR game_categories LIKE CONCAT('%', #{searchText}, '%')
           OR game_platforms LIKE CONCAT('%', #{searchText}, '%')
        Limit #{start} , #{size}
    </select>

    <select id="getAllGameInfo" resultMap="Game">
        SELECT *
        FROM games
        ORDER BY game_score DESC
        LIMIT #{start} , #{size}
    </select>
    <select id="getGameImageUrl" resultType="java.lang.String">
        SELECT game_image_url
        FROM games
        WHERE id = #{gameId}
    </select>
    <select id="selectById" resultType="com.x.backend.pojo.common.Game">
        SELECT *
        FROM games
        WHERE id = #{gameId}
    </select>


</mapper>