<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.backend.mapper.admin.SongMapper">
    <resultMap id="SongResultMap" type="com.x.backend.pojo.common.Song">
        <id property="id" column="id"/>
        <result property="artist" column="artist"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="audioUrl" column="audio_url"/>
        <result property="score" column="score"/>
        <result property="tags" column="tags"/>
        <result property="users" column="users"/>
        <result property="likeUsers" column="like_users" />
        <result property="dontLikeUsers" column="dont_like_users" />
    </resultMap>

    <insert id="save">
        INSERT INTO song (name, artist, cover_url, audio_url, score, tags, users)
        VALUES (#{name}, #{artist}, #{coverUrl}, #{audioUrl}, #{score}, #{tags}, #{users})
    </insert>
    <delete id="deleteSongInfo">
        DELETE
        FROM song
        WHERE id = #{songId}
    </delete>

    <select id="search" resultMap="SongResultMap">
        SELECT *
        From song
        WHERE artist LIKE CONCAT('%', #{SearchText}, '%')
           OR name LIKE CONCAT('%', #{SearchText}, '%')
           OR score LIKE CONCAT('%', #{SearchText}, '%')
           OR tags LIKE CONCAT('%', #{SearchText}, '%')
           OR users LIKE CONCAT('%', #{SearchText}, '%')
        ORDER BY score DESC
        LIMIT #{start}, #{size}
    </select>
    <select id="getAll" resultMap="SongResultMap">
        SELECT *
        FROM song
        ORDER BY score DESC
        LIMIT #{start}, #{size}
    </select>
    <select id="getSongInfoById" resultMap="SongResultMap">
        SELECT * FROM song
        WHERE id = #{songId}
    </select>
</mapper>