<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.backend.mapper.admin.UserMapper">
    <resultMap id="Account" type="com.x.backend.pojo.common.Account">
        <result property="aId" column="a_id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
        <result property="password" column="password"/>
        <result property="isBanned" column="is_banned"/>
        <result property="createdAt" column="createdAt"/>
        <result property="lastLoginTime" column="last_login_time"/>
    </resultMap>
    <update id="updateUserRole">
        update account
        set role = #{role}
        where a_id = #{userId}
    </update>
    <update id="resetPassword">
        update account
        set password = #{password}
        where a_id = #{aId}
    </update>
    <update id="updateBanned">
        update account
        set is_banned = #{isBanned}
        where a_id = #{aId}
    </update>
    <select id="getAll" resultMap="Account">
        select *
        from account
        LIMIT #{start}, #{size}
    </select>
    <select id="getAccountById" resultMap="Account">
        select *
        from account
        where a_id = #{id}
    </select>
    <select id="searchInfo" resultMap="Account">
        select *
        from account
        where username like CONCAT('%', #{SearchText}, '%')
           or email like CONCAT('%', #{SearchText}, '%')
           OR role like CONCAT('%', #{SearchText}, '%')
        LIMIT #{start}, #{size}
    </select>

    <!-- updateImgUrl -->

    <update id="updateImgUrl">
        update account
        set user_img = #{userUrl}
        where a_id = #{aId}
    </update>

    <!-- getInviteByUserId -->

    <select id="getInviteByUserId">
         select * 
         from invite_code 
         where a_id = #{id} and invite_id = #{inviteId}
    </select>

    <!-- updateInviteStatus -->

    <update id="updateInviteStatus">
        update invite_code
        set status = #{status},resut = #{result},handle_time = #{handleTime}
        where a_id = #{aId} and invite_id = #{inviteId}
    </update>

    <!-- getInviteListByUserId -->

    <resultMap id="InviteVO" type="com.x.backend.pojo.admin.vo.request.user.InviteVO">
        <result property="iId" column="i_id"/>
        <result property="aId" column="a_id"/>
        <result property="username" column="username"/>
        <result property="inviteTime" column="invite_time"/>
        <result property="inviteCode" column="invite_code"/>
        <result property="status" column="status"/>
        <result property="result" column="result"/>
        <result property="handleTime" column="handle_time"/>
        <result property="email" column="email"/>
    </resultMap>
    <select id="getInviteListByUserId" resultMap="InviteVO">
    select * from invite  i join account a on a.a_id  = i.a_id  WHERE i.invited_id  = #{inviteId} and i.status = 0  
    </select>

    <!-- getInviteHistoryListByUserId -->

    <select id="getInviteHistoryListByUserId" resultMap="InviteVO">
        select * from invite  i join account a on a.a_id  = i.a_id  WHERE i.invited_id  = #{inviteId} and i.status = 1  
    </select>
</mapper>