<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.backend.mapper.admin.UserMapper">
    <resultMap id="Account" type="com.x.backend.pojo.common.Account">
        <result property="aId" column="a_id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
        <result property="password" column="password"/>
        <result property="isBanned" column="is_banned"/>
        <result property="createdAt" column="createdAt"/>
        <result property="lastLoginTime" column="last_login_time"/>
    </resultMap>
    <update id="updateUserRole">
        update account
        set role = #{role}
        where a_id = #{userId}
    </update>
    <update id="resetPassword">
        update account
        set password = #{password}
        where a_id = #{aId}
    </update>
    <update id="updateBanned">
        update account
        set is_banned = #{isBanned}
        where a_id = #{aId}
    </update>
    <select id="getAll" resultMap="Account">
        select *
        from account
        LIMIT #{start}, #{size}
    </select>
    <select id="getAccountById" resultMap="Account">
        select *
        from account
        where a_id = #{id}
    </select>
    <select id="searchInfo" resultMap="Account">
        select *
        from account
        where username like CONCAT('%', #{SearchText}, '%')
           or email like CONCAT('%', #{SearchText}, '%')
           OR role like CONCAT('%', #{SearchText}, '%')
        LIMIT #{start}, #{size}
    </select>
</mapper>